circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .05;
  stroke: #1F0F01;
  stroke-width: 1px;
}

.leaf circle {
  fill: #A97344;
  fill-opacity: 1;
}

text {
  font: 11px sans-serif;
  color: #000000;
}
